body {
background: url(../images/background.png) repeat-x;
}

p {
  color: white;
  font-size: 16px;
}

.header {
  background-color: black;
  padding: 10px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: pink;
}

h4 {
  text-align: center;
  color: pink;
}

h2 {
  text-align: center;
  color: pink;
  text-decoration: underline;
}

h5 {
  text-align: center;
  color: white;
}

h3 {
  text-align: center;
  color: white;
}

.button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: pink;
  font-size: 14px;
  color: white;
}

.cartoon {
  display: flex;
  width: 100%;
  justify-content: center;
}

a:link{
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  text-align: center;
}

img {
  max-width: 100%;
}

.boxes {
  display: flex;
  flex-direction: column;
}

.tec2 {
  border-style: solid;
  margin: 15px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #FFBFEF;
  border-color: #FFBFEF;
}

.tec3 {
  border-style: solid;
  margin: 15px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #FF9FEF;
  border-color: #FF9FEF;
}

.tec4 {
  border-style: solid;
  margin: 15px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #FF80DF;
  border-color: #FF80DF;
}

.siy1 {
  background-color: #FFDFF7;
  border-style: solid;
  margin: 15px;
  border-radius: 10px;
  border-color: #FFDFF7;
  font-size: 20px;
}

.siy2 {
  background-color: #FFBFEF;
  border-style: solid;
  margin: 15px;
  border-radius: 10px;
  border-color: #FFBFEF;
  font-size: 20px;
}

.siy3 {
  background-color: #FF9FEF;
  border-style: solid;
  margin: 15px;
  border-radius: 10px;
  border-color: #FF9FEF;
  font-size: 20px;
}

.siy4 {
  background-color: #FF80DF;
  border-style: solid;
  margin: 15px;
  border-radius: 10px;
  border-color: #FF80DF;
  font-size: 20px;
}
